@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto:wght@400;500;700&display=swap");

:root {
  --bg-primary: #1c2838;
  --text-primary: #fff;
  --text-second: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-primary);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
